<div class="universities">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-img" style="background-image: url('assets/images/universities/Bora Bora.png');">
          <div class="shape">
            <img src="assets/images/main_assets/univ-logo.png" alt="">
          </div>
          <!-- <img src="assets/images/universities/Bora Bora.png" class="card-img-top" alt="article"> -->
        </div>
        <div class="card-body">
          <h3 class="university-name" [routerLink]="'/universities/1'">جامعة اسطنبول</h3>
          <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
          <div class="information">
            <div class="price-info">
              <div class="price">
                <span>4320$</span>
                <span>6000$</span>
              </div>
              <div class="discount">
                <span>خصم 25%</span>
              </div>
            </div>
            <div class="global-info">
              <div class="global">
                <img src="assets/images/icons/global.png" alt="">
                <span>التصنيف العالمي : 2225</span>
              </div>
              <div class="programs-count">
                <img src="assets/images/icons/open-book.png" alt="">
                <span>عدد البرامج الدراسية : 98</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img" style="background-image: url('assets/images/universities/New Zealand.png');">
          <div class="shape">
            <img src="assets/images/main_assets/univ-logo.png" alt="">
          </div>
        </div>
        <div class="card-body">
          <h3 class="university-name">جامعة استينيا</h3>
          <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
          <div class="information">
            <div class="price-info">
              <div class="price">
                <span>4320$</span>
                <span>6000$</span>
              </div>
              <div class="discount">
                <span>خصم 25%</span>
              </div>
            </div>
            <div class="global-info">
              <div class="global">
                <img src="assets/images/icons/global.png" alt="">
                <span>التصنيف العالمي : 2225</span>
              </div>
              <div class="programs-count">
                <img src="assets/images/icons/open-book.png" alt="">
                <span>عدد البرامج الدراسية : 98</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img" style="background-image: url('assets/images/universities/Paris.png');">
          <div class="shape">
            <img src="assets/images/main_assets/univ-logo.png" alt="">
          </div>
        </div>
        <div class="card-body">
          <h3 class="university-name">جامعة اسطنبول ميديبول</h3>
          <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
          <div class="information">
            <div class="price-info">
              <div class="price">
                <span>4320$</span>
                <span>6000$</span>
              </div>
              <div class="discount">
                <span>خصم 25%</span>
              </div>
            </div>
            <div class="global-info">
              <div class="global">
                <img src="assets/images/icons/global.png" alt="">
                <span>التصنيف العالمي : 2225</span>
              </div>
              <div class="programs-count">
                <img src="assets/images/icons/open-book.png" alt="">
                <span>عدد البرامج الدراسية : 98</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img" style="background-image: url('assets/images/universities/Singapore.png');">
          <div class="shape">
            <img src="assets/images/main_assets/univ-logo.png" alt="">
          </div>
        </div>
        <div class="card-body">
          <h3 class="university-name">جامعة ألتن باش</h3>
          <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
          <div class="information">
            <div class="price-info">
              <div class="price">
                <span>4320$</span>
                <span>6000$</span>
              </div>
              <div class="discount">
                <span>خصم 25%</span>
              </div>
            </div>
            <div class="global-info">
              <div class="global">
                <img src="assets/images/icons/global.png" alt="">
                <span>التصنيف العالمي : 2225</span>
              </div>
              <div class="programs-count">
                <img src="assets/images/icons/open-book.png" alt="">
                <span>عدد البرامج الدراسية : 98</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img" style="background-image: url('assets/images/universities/Thailand.png');">
          <div class="shape">
            <img src="assets/images/main_assets/univ-logo.png" alt="">
          </div>
        </div>
        <div class="card-body">
          <h3 class="university-name">جامعة بهتشه شهير</h3>
          <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
          <div class="information">
            <div class="price-info">
              <div class="price">
                <span>4320$</span>
                <span>6000$</span>
              </div>
              <div class="discount">
                <span>خصم 25%</span>
              </div>
            </div>
            <div class="global-info">
              <div class="global">
                <img src="assets/images/icons/global.png" alt="">
                <span>التصنيف العالمي : 2225</span>
              </div>
              <div class="programs-count">
                <img src="assets/images/icons/open-book.png" alt="">
                <span>عدد البرامج الدراسية : 98</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-img" style="background-image: url('assets/images/universities/Bora Bora.png');">
          <div class="shape">
            <img src="assets/images/main_assets/univ-logo.png" alt="">
          </div>
        </div>
        <div class="card-body">
          <h3 class="university-name">جامعة أوكان</h3>
          <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
          <div class="information">
            <div class="price-info">
              <div class="price">
                <span>4320$</span>
                <span>6000$</span>
              </div>
              <div class="discount">
                <span>خصم 25%</span>
              </div>
            </div>
            <div class="global-info">
              <div class="global">
                <img src="assets/images/icons/global.png" alt="">
                <span>التصنيف العالمي : 2225</span>
              </div>
              <div class="programs-count">
                <img src="assets/images/icons/open-book.png" alt="">
                <span>عدد البرامج الدراسية : 98</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pagination></app-pagination>
</div>
