$orange: #F68C1E;
$darknessOrange: #FF8200;
$backgroundColor: #F8F8F8;
$purple: #353688;
$white: #FFFFFF;
$black: #000000;
$blackvtwo: #353535;
$blackvthree: #363636;
$grey: #6D6D6D;
$greyVtwo: #CCCDDF;
$footerColor: #1D2A3B;

$fontSize: 16px;
$borderRadius: 21px;
$semiBorderRadius: 10px;
