<footer>
  <div class="booking_seat">
    <div class="messages">
      <h5>هل انت علي استعداد لبداية رحلتك الدراسية ؟</h5>
      <h4>احجز استشارة مجانية</h4>
    </div>
    <button class="primary">
      احجز مقعدك الان
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <img src="/assets/images/main_assets/logo.png" alt="logo">
        </div>
        <ul class="list-unstyled social_links">
          <li>
            <fa-icon [icon]="faFacebook"></fa-icon>
          </li>
          <li>
            <fa-icon [icon]="faGooglePlus"></fa-icon>
          </li>
          <li>
            <fa-icon [icon]="faTwitter"></fa-icon>
          </li>
          <li>
            <fa-icon [icon]="faInstagram"></fa-icon>
          </li>
        </ul>
      </div>
      <div class="col-md-5 text-right">
        <span class="fast-links">روابط سريعة</span>
        <div class="links">
          <ul class="list-unstyled">
            <li>
              <a href="">من نحن</a>
            </li>
            <li>
              <a href="">خدماتنا</a>
            </li>
            <li>
              <a href="">مقالات تهمك</a>
            </li>
            <li>
              <a href="">المنح الجزئية</a>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <a href="">سياسة الخصوصية</a>
            </li>
            <li>
              <a href="">الجامعات</a>
            </li>
            <li>
              <a href="">التخصصات الدراسية</a>
            </li>
            <li>
              <a href="">كن وكيلنا</a>
            </li>
          </ul>
          <ul class="list-unstyled">
            <li>
              <a href="">الفعاليات</a>
            </li>
            <li>
              <a href="">سياسة ملفات الارتباط</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="actions">
          <button class="primary-outline">ابحث عن جامعتك</button>
          <button class="primary">سجل الان</button>
        </div>
        <ul class="list-unstyled contacts">
          <li>
            <a href="">
              <span>01165464658</span>
              <fa-icon [icon]="faPhoneAlt"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
              <span class="transparent">العنوان بالكامل هنا</span>
              <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            </a>
          </li>
          <li>
            <a href="">
              <span>احصل علي الاتجاهات</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyRight">
  <div class="container d-flex justify-content-between">
    <span>
      Made Theme By <a href="">Deercreative</a>
    </span>
    <span>
      &copy; copyRight 2019 All Right reserved
    </span>
  </div>
</div>
