<div class="modal-header">
  <h4 class="modal-title">سجل معنا</h4>
  <button type="button" data-bs-dismiss="modal" class="btn-close close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="myForm" (ngSubmit)="RegisterWithUs()">
    <ng-container *ngIf="!isSubmited">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="name">الاسم</label>
            <input [(ngModel)]="registerData.social_customer_name" formControlName="name" id="name" type="text" class="form-control" placeholder="اكتب اسمك هنا ...">
            <div *ngIf="f.name.touched && f.name.invalid">
              <div class="text-danger" *ngIf="f.name.errors.required">Name is required.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="email">البريد الالكترونى</label>
            <input [(ngModel)]="registerData.social_email" formControlName="email" id="email" type="email" class="form-control" placeholder="name@example.com">
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="country">الدولة</label>
            <select (change)="getCountryCode()" [(ngModel)]="registerData.social_country" formControlName="country" class="form-control" id="country">
              <option *ngFor="let country of countries.data.list" [value]="country.country_id">{{country.country_name}}</option>
            </select>
            <div *ngIf="f.country.touched && f.country.invalid">
              <div class="text-danger" *ngIf="f.country.errors.required">country is required.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="phone">رقم الهاتف</label>
            <div class="phone">
              <div class="form-group" *ngIf="registerData.social_country" style="width: 10%;">
                <!-- <select id="phoneCountry">
                  <option *ngFor="let country of countries.data.list">{{country.country_phone_code}}</option>
                </select> -->
                <input type="text" [value]="countries.data.list[countryIndex].country_phone_code" readonly>
              </div>
              <div class="form-group">
                <input [(ngModel)]="registerData.social_phone_numbers" formControlName="phone" type="text" id="phone" placeholder="phone">
              </div>
            </div>
            <div *ngIf="f.phone.touched && f.phone.invalid">
              <div class="text-danger" *ngIf="f.phone.errors.required">phone is required.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-group">
            <label for="certificateType">نوع الشهادة</label>
            <select [(ngModel)]="registerData.social_certificate_type" formControlName="certificateType" class="form-control" id="certificateType">
              <option *ngFor="let certificate of certificates.data.list" [value]="certificate.certificate_id">{{certificate.certificate_name}}</option>
            </select>
            <div *ngIf="f.certificateType.touched && f.certificateType.invalid">
              <div class="text-danger" *ngIf="f.certificateType.errors.required">certificate is required.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="registerData.social_certificate_type == '5'">
          <div class="form-group">
            <label for="certificate">نوع الشهادة</label>
            <input [(ngModel)]="registerData.social_certificate_other" formControlName="certificateOther" id="certificate" type="text" class="form-control" placeholder="اكتب نوع الشهادة">
          </div>
        </div>
      </div>
      <div class="files-upload">
        <div class="row">
          <div class="col-lg-4 d-flex">
            <div class="required-documents">
              <span>المرفقات المطلوبة</span>
              <ul class="list-unstyled">
                <li>
                  <span class="doc-name">- صوره شخصيه</span>
                  <span class="doc-status">
                    <img *ngIf="registerData.paper_personal_photo" src="assets/images/icons/confirmed.png" alt="">
                    <img *ngIf="!registerData.paper_personal_photo" src="assets/images/icons/pending.png" alt="">
                  </span>
                </li>
                <li>
                  <span class="doc-name">- المؤهل</span>
                  <span class="doc-status">
                    <img *ngIf="registerData.paper_qualification" src="assets/images/icons/confirmed.png" alt="">
                    <img *ngIf="!registerData.paper_qualification" src="assets/images/icons/pending.png" alt="">
                  </span>
                </li>
                <li>
                  <span class="doc-name">- جواز سفر ساري</span>
                  <span class="doc-status">
                    <img *ngIf="registerData.paper_passport" src="assets/images/icons/confirmed.png" alt="">
                    <img *ngIf="!registerData.paper_passport" src="assets/images/icons/pending.png" alt="">
                  </span>
                </li>
              </ul>
              <div class="uploaded-files">
                <ul class="list-unstyled">
                  <li *ngFor="let file of myFiles">
                    <span class="file-name" id="personalPhotoName">{{file.name}}</span>
                    <span class="file-size">
                      {{ (file.size / 1000) > 1000 ? math.floor(file.size / 1000000) + 'Mb' : math.floor(file.size / 1000) + 'Kb' }}
                      <img src="assets/images/icons/close.png" alt="">
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="attchmentsArea">
              <div class="attachments">
                <img src="assets/images/icons/Folder.png" alt="folder">
                <div class="hints">
                  <p>اسحب الملفات هنا لبدا التحميل</p>
                  <p>أو</p>
                </div>
                <div class="uploads d-flex">
                  <div class="upload">
                    <input (change)="handleFileInput($event)" id="personalPhoto" type="file" hidden>
                    <label for="personalPhoto">ارفاق صورة شخصية</label>
                  </div>
                  <div class="upload">
                    <!-- <input formControlName="qualifications" (change)="handleQualificationsInput($event)" id="qualifiaction" type="file" hidden> -->
                    <input (change)="handleFileInput($event)" id="qualifiaction" type="file" hidden>
                    <label for="qualifiaction">ارفاق مؤهلك</label>
                  </div>
                  <div class="upload">
                    <input (change)="handleFileInput($event)" id="passport" type="file" hidden>
                    <label for="passport">ارفاق جواز السفر</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="primary send">ارسل الطلب</button>
    </ng-container>
    <div class="confirmed" *ngIf="isSubmited">
      <img src="assets/images/icons/confirmed.gif" alt="">
      <p>تم تسجيل طلبك بنجاح</p>
    </div>
  </form>
</div>
