<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center flex-column justify-content-center contact">
        <h4>تواصل معنا</h4>
        <p>لدى فريقنا الخبرة للإجابة على كافة استفساراتكم حول الدراسة و الإقامة  في تركيا و توفير المعلومات حسب احتياجكم</p>
        <div class="social">
          <div class="link-box">
            <div class="email">
              <img src="assets/images/about/email.png" alt="email">
              <div class="links">
                <span>info@studyproo.com</span>
                <span>Register@studyproo.com</span>
              </div>
              <a>Facebook page name <img src="assets/images/about/facebook.png" alt=""></a>
            </div>
          </div>
          <div class="link-box">
            <img src="assets/images/about/whatsapp.png" alt="whatsapp">
            <div class="links mt-3">
              <span>01015154956</span>
              <span>01015154936</span>
              <span>01015153162</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tree">
          <img src="assets/images/about/tree.png" alt="tree">
        </div>
        <div class="logo">
          <img src="assets/images/main_assets/logo.png" alt="logo">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="inquiries">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="inqu">
          <h3>هل لديك الاستفسارات ؟</h3>
          <span>لدينا الاجابات</span>
          <ul class="list-unstyled">
            <li>كيف يمكنني بدء الدراسة في تركيا</li>
            <li>متطلبات الدراسة في تركيا</li>
            <li>متوسط تكاليف المعيشة في تركيا</li>
            <li>اختبار اليوس التركي</li>
            <li>معادلة الشهادة</li>
            <li>الجامعات المعتمدة</li>
          </ul>
          <button class="primary">مركز المعلومات</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="getInquiry">
          <h3>احصل على استشارة <span>مجانية %100</span></h3>
          <p>لدى فريقنا الخبرة للإجابة على كافة استفساراتكم حول الدراسة و الإقامة  في تركيا و توفير المعلومات حسب احتياجكم</p>
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">الاسم</label>
                  <input type="text" class="form-control" id="name" placeholder="اكتب اسمك هنا ...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">رقم الهاتف</label>
                  <div class="phone">
                    <div class="form-group">
                      <select id="phoneCountry">
                        <option>1</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="text" id="name" placeholder="phone">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">البريد الالكترونى (Email)</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="inquiry" for="inquiry">
                    <span>استفسارك</span>
                    <span class="hint">بحد ادنى 30 حرف</span>
                  </label>
                  <textarea class="form-control" id="inquiry" rows="4"></textarea>
                </div>
              </div>
              <button class="primary">أرسل طلبك</button>
            </div>
          </form>
          <img class="loaf topLoaf" src="assets/images/main_assets/loaf.png" alt="loaf">
        </div>
      </div>
    </div>
  </div>
</div>
