<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center flex-column justify-content-center contact">
        <h4>تواصل معنا</h4>
        <p>لدى فريقنا الخبرة للإجابة على كافة استفساراتكم حول الدراسة و الإقامة  في تركيا و توفير المعلومات حسب احتياجكم</p>
        <div class="social">
          <div class="link-box">
            <div class="email">
              <img src="assets/images/about/email.png" alt="email">
              <div class="links">
                <span>info@studyproo.com</span>
                <span>Register@studyproo.com</span>
              </div>
              <a>Facebook page name <img src="assets/images/about/facebook.png" alt=""></a>
            </div>
          </div>
          <div class="link-box">
            <img src="assets/images/about/whatsapp.png" alt="whatsapp">
            <div class="links mt-3">
              <span>01015154956</span>
              <span>01015154936</span>
              <span>01015153162</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tree">
          <img src="assets/images/about/tree.png" alt="tree">
        </div>
        <div class="logo">
          <img src="assets/images/main_assets/logo.png" alt="logo">
        </div>
      </div>
    </div>
  </div>
</div>
<app-inquiries></app-inquiries>
