<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="breif">
          <span>من نحن</span>
          <ul class="list-unstyled">
            <li>
              - ......نحن نشاركك مستقبلك ونصنع لك قرارك قبل أن تتخذه
            </li>
            <li>
              - شركة <span>Studypro</span> هي شركة متخصصة في مجال الخدمات التعليمية و لديها هيكل مؤسسي متكامل تستهدف التعليم والتدريب المهني بقوة استثمارا لخبراتها في المجال
            </li>
            <li>
              - وتقدم  استشارات  تعليمية لطلاب من مصر وجميع أنحاء العالم حتى يستطيعوا معرفة طريقهم الصحيح والتعرف على الجامعات الدولية  واختيار التخصص المناسب لمهاراتهم
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img">
          <img src="assets/images/about/about-breif.png" alt="breif">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offers">
  <div class="row">
    <div class="col-md-6">
      <div class="img">
        <img src="assets/images/about/intro.png" alt="intro">
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="breif">
        <span>ماذا نقدم لك؟</span>
        <ul class="list-unstyled">
          <li>
            - نحن أحد وكلاء <span>Studyfans</span>  و نتميز بالعروض الحصرية والمنح التي تقدمها سنويًا بالتعاون مع الجامعات التركية الخاصة لحجز مقعدك الجامعي في واحدة من أفضل الجامعات على مستوى العالم
          </li>
          <li>
            - لدينا  خطط طموحة للتوسع في الخدمات الطلابية
          </li>
          <li>
            - لدينا فريق استشارات تعليمية مدرب على أعلى مستوى
          </li>
          <li>
            - يتوفر لدينا قسم اللوجستي الذي يمكننا القول بأنه ميزة تنافسية يحصل عليها الطلاب عند تواصلهم فقط معنا
          </li>
          <li>
            - نكن معك خطوة بخطوة بداية من اختيار الجامعة واستقبالك من المطار وحتى اختيار السكن المناسب وإكمال أوراقك
          </li>
          <li>
            - نتيح لك فرصة التسجيل في واحدة من أفضل الجامعات ونضمن قبولك الدراسي كوكيل معتمد في معظم الجامعات الخاصة التركية
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="hint text-center">
  <p>نساعدك في تحديد تخصصك الدراسي واختيار الجامعة المناسبة</p>
  <p>نحن نشاركك مستقبلك</p>
</div>
<app-inquiries></app-inquiries>
