<div class="about-us">
  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="breif">
        <span>من نحن</span>
        <ul class="list-unstyled">
          <li>
            - ......نحن نشاركك مستقبلك ونصنع لك قرارك قبل أن تتخذه
          </li>
          <li>
            - شركة <span>Studypro</span> هي شركة متخصصة في مجال الخدمات التعليمية و لديها هيكل مؤسسي متكامل تستهدف التعليم والتدريب المهني بقوة استثمارا لخبراتها في المجال
          </li>
          <li>
            - وتقدم  استشارات  تعليمية لطلاب من مصر وجميع أنحاء العالم حتى يستطيعوا معرفة طريقهم الصحيح والتعرف على الجامعات الدولية  واختيار التخصص المناسب لمهاراتهم
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="img">
        <img src="assets/images/about/about-breif.png" alt="breif">
      </div>
    </div>
  </div>
</div>
<div class="offers">
  <div class="row">
    <div class="col-md-6">
      <div class="img">
        <img src="assets/images/about/intro.png" alt="intro">
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="breif">
        <span>ماذا نقدم لك؟</span>
        <ul class="list-unstyled">
          <li>
            - نحن أحد وكلاء <span>Studyfans</span>  و نتميز بالعروض الحصرية والمنح التي تقدمها سنويًا بالتعاون مع الجامعات التركية الخاصة لحجز مقعدك الجامعي في واحدة من أفضل الجامعات على مستوى العالم
          </li>
          <li>
            - لدينا  خطط طموحة للتوسع في الخدمات الطلابية
          </li>
          <li>
            - لدينا فريق استشارات تعليمية مدرب على أعلى مستوى
          </li>
          <li>
            - يتوفر لدينا قسم اللوجستي الذي يمكننا القول بأنه ميزة تنافسية يحصل عليها الطلاب عند تواصلهم فقط معنا
          </li>
          <li>
            - نكن معك خطوة بخطوة بداية من اختيار الجامعة واستقبالك من المطار وحتى اختيار السكن المناسب وإكمال أوراقك
          </li>
          <li>
            - نتيح لك فرصة التسجيل في واحدة من أفضل الجامعات ونضمن قبولك الدراسي كوكيل معتمد في معظم الجامعات الخاصة التركية
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="hint text-center">
  <p>نساعدك في تحديد تخصصك الدراسي واختيار الجامعة المناسبة</p>
  <p>نحن نشاركك مستقبلك</p>
</div>
<div class="inquiries">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="inqu">
          <h3>هل لديك الاستفسارات ؟</h3>
          <span>لدينا الاجابات</span>
          <ul class="list-unstyled">
            <li>كيف يمكنني بدء الدراسة في تركيا</li>
            <li>متطلبات الدراسة في تركيا</li>
            <li>متوسط تكاليف المعيشة في تركيا</li>
            <li>اختبار اليوس التركي</li>
            <li>معادلة الشهادة</li>
            <li>الجامعات المعتمدة</li>
          </ul>
          <button class="primary">مركز المعلومات</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="getInquiry">
          <h3>احصل على استشارة <span>مجانية %100</span></h3>
          <p>لدى فريقنا الخبرة للإجابة على كافة استفساراتكم حول الدراسة و الإقامة  في تركيا و توفير المعلومات حسب احتياجكم</p>
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">الاسم</label>
                  <input type="text" class="form-control" id="name" placeholder="اكتب اسمك هنا ...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">رقم الهاتف</label>
                  <div class="phone">
                    <div class="form-group">
                      <select id="phoneCountry">
                        <option>1</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="text" id="name" placeholder="phone">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">البريد الالكترونى (Email)</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="inquiry" for="inquiry">
                    <span>استفسارك</span>
                    <span class="hint">بحد ادنى 30 حرف</span>
                  </label>
                  <textarea class="form-control" id="inquiry" rows="4"></textarea>
                </div>
              </div>
              <button class="primary">أرسل طلبك</button>
            </div>
          </form>
          <img class="loaf topLoaf" src="assets/images/main_assets/loaf.png" alt="loaf">
        </div>
      </div>
    </div>
  </div>
</div>
