<div class="area d-flex">
  <aside class="aside-filter" id="majorsAside">
    <div class="search">
      <input class="form-control search-input"
        placeholder="ابحث بالجامعة">
    </div>
    <accordion [isAnimated]="true">
      <accordion-group [isOpen]="true">
        <label class="checkbox_container">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          بكالوريوس
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          ماجستير
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          دكتوراه
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          دبلومة عامين
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          سنة تحضيرية للغة
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          دكتوراه متكاملة
        </label>
      </accordion-group>

      <accordion-group heading="التخصص" [isOpen]="true">
        <div class="search">
          <input class="form-control search-input"
            placeholder="ابحث بالتخصص">
        </div>
        <label class="checkbox_container">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          المحاسبة و المراجعة
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          المحاسبة و المالية
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          الادارة المالية و المحاسبة
        </label>
        <a href="" class="showMore">عرض المزيد</a>
      </accordion-group>

      <accordion-group heading="مدة الدراسة" [isOpen]="true">
        <label class="checkbox_container">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          0 - 1 أعوام
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          1.5 - 2 أعوام
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          3 - 4 أعوام
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          5 - 7 أعوام
        </label>
      </accordion-group>

      <accordion-group heading="لغة الدراسة" [isOpen]="true">
        <label class="checkbox_container">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          English
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          العربية
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          الانجليزية 30%
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          turkish
        </label>
        <a href="" class="showMore"></a>
      </accordion-group>

      <accordion-group heading="fees" [isOpen]="true">
        <label class="checkbox_container">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          0$ - 2000$
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          2000$ - 3000$
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          3000$ - 6000$
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          6000$ - 10000$
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          10000$ - 20000$
        </label>
        <label class="checkbox_container">
          <input type="checkbox">
          <span class="checkmark"></span>
          20000$ - 40000$
        </label>
      </accordion-group>
    </accordion>
  </aside>

  <div class="majors-section" id="majors-section">
    <div class="major">
      <div class="major__header">
        <h6>النتائج 411 من 3654</h6>
        <div class="grid-buttons">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 36 29.25">
              <path id="Icon_awesome-list-ul" data-name="Icon awesome-list-ul" d="M3.375,3.375A3.375,3.375,0,1,0,6.75,6.75,3.375,3.375,0,0,0,3.375,3.375Zm0,11.25A3.375,3.375,0,1,0,6.75,18a3.375,3.375,0,0,0-3.375-3.375Zm0,11.25A3.375,3.375,0,1,0,6.75,29.25a3.375,3.375,0,0,0-3.375-3.375ZM34.875,27h-22.5a1.125,1.125,0,0,0-1.125,1.125v2.25A1.125,1.125,0,0,0,12.375,31.5h22.5A1.125,1.125,0,0,0,36,30.375v-2.25A1.125,1.125,0,0,0,34.875,27Zm0-22.5h-22.5A1.125,1.125,0,0,0,11.25,5.625v2.25A1.125,1.125,0,0,0,12.375,9h22.5A1.125,1.125,0,0,0,36,7.875V5.625A1.125,1.125,0,0,0,34.875,4.5Zm0,11.25h-22.5a1.125,1.125,0,0,0-1.125,1.125v2.25a1.125,1.125,0,0,0,1.125,1.125h22.5A1.125,1.125,0,0,0,36,19.125v-2.25A1.125,1.125,0,0,0,34.875,15.75Z" transform="translate(0 -3.375)" fill="#363636"/>
            </svg>
          </button>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 36 36">
              <path id="Icon_open-grid-three-up" data-name="Icon open-grid-three-up" d="M0,0V9H9V0ZM13.5,0V9h9V0ZM27,0V9h9V0ZM0,13.5v9H9v-9Zm13.5,0v9h9v-9Zm13.5,0v9h9v-9ZM0,27v9H9V27Zm13.5,0v9h9V27ZM27,27v9h9V27Z" fill="#363636"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="major__body">
        <div class="row">
          <div class="col-md-4" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
            <div class="card">
              <div class="card-img">
                <img src="assets/images/2.png" alt="">
              </div>
              <div class="card-body">
                <h3 class="major-name">تحليل البيانات</h3>
                <div class="major-description">
                  <h4>جامعة اسطنبول ميديبول</h4>
                  <h5>بكالوريوس - الانجليزية</h5>
                </div>
                <div class="major-register">
                  <button class="primary" (click)="register()">سجل الان</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
