aside.aside-filter {
  position: fixed;
  // z-index: 9;
  height: 75vh;
  background: #fff;
  padding: 20px 30px;
  overflow-y: scroll;
  .search { margin-bottom: 1em; }
}
aside#modalMajorsAside {
  position: relative;
  width: auto;
  height: 100vh;
}
.majors-section {
  padding: 2em;
  padding-top: 0;
  position: relative;
  .openFilteration {
    background: #ddd;
    color: #444;
    border: none;
    border-radius: 17px;
    font-weight: bold;
    position: fixed;
    left: 40%;
    margin-top: 1em;
    z-index: 2;
    padding: 5px 15px;
  }
  .major {
    padding: 2em;
    background: #fff;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      h6 {
        font-weight: bold;
      }
      .grid-buttons {
        display: flex;
        gap: 10px;
        button {
          width: 45px;
          height: 45px;
          background: #EFEFEF;
          border: none;
          border-radius: 5px;
        }
      }
    }
    &__body {
      .card {
        margin-bottom: 2em;
        .card-body {
          text-align: center;
          .major-name {
            font-weight: bold;
            font-size: 25px;
          }
          .major-description {
            margin: 15px 0px;
            h4 {
              font-size: 20px;
            }
            h5 {
              font-size: 18px;
            }
          }
          .major-register {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
.showMore {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
  margin-bottom: 1em;
  display: block;
}

.card {
  .card-img {
    height: auto;
    background: #F8F8F8;
    padding: 25px;
    border-radius: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.modal-body {
  padding: 0;
}

@media (min-width: 1200px) {
  .majors-section {
    width: calc(100% - 350px);
    margin-right: 320px;
  }
}

@media ( min-width: 992px ) and ( max-width: 1199px ) {
  aside.aside-filter {
    width: 300px;
  }
  .majors-section {
    width: calc(100% - 300px);
    margin-right: 300px;
  }
}
