@import "abstracts/mixins", "abstracts/variables";

body {
  font-family: 'Cairo', sans-serif !important;
  background-color: $backgroundColor !important;
  box-sizing: border-box;
  direction: rtl;
  text-align: right !important;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #444;
}

// framework
.box-shadow {
  box-shadow: 0 24px 72px rgb(0 0 0 / 16%);
}

.form-control {
  border-color: $orange !important;
  border-radius: $borderRadius - 11  !important;
  height: calc(2em + 0.7rem + 2px) !important;
  padding: 0.5rem .75rem !important;
  font-size: $fontSize - 1 !important;
  outline: none !important;
  box-shadow: none !important;
  &::placeholder {color: $greyVtwo !important;}
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
input {outline: none; }
input::placeholder {color: $greyVtwo !important;}
button.primary {
  @include buttons($orange, $orange, $white, $fontSize , $orange, $white);
}
button.primary-outline {
  @include buttons(transparent, $orange, $orange, $fontSize, $white,$orange);
}
.actions {
  display: flex;
  gap: 1em;
}
img.loaf {
  position: absolute;
  bottom: -35px;
  right: -35px;
  z-index: -1;
  width: 70px;
}
img.loaf.topLoaf {
  transform: rotate(275deg);
  top: -35px;
  right: -35px;
}
.pagination {
  justify-content: center;
  direction: ltr;
  align-items: center;
  gap: 10px;
  .btn, a {
    background-color: $white;
    border: 1px solid #D8DAE5;
    color: #051B44;
    border-radius: 4px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .active a,
  li:hover a {
    background-color: $orange;
    color: $white !important;
    text-decoration: none;
  }
  .btn {
    img {
      width: 20px;
      height: 20px;
      margin: 0 7px;
    }
  }
  a {
    width: 30px;
  }
}
aside.aside-filter {
  .panel {
    border: none;
    border-radius: 0;
    .panel-heading {
      background: transparent;
      padding-top: 0;
      button {
        color: #000;
        font-weight: bold;
        text-decoration: none;
      }
    }
    .panel-body {
      padding-bottom: 0;
    }
  }
  &::-webkit-scrollbar {
    width: 0.1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange;
  }
}
.checkbox_container {
  display: block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 17px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
  background-color: $orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid $white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.related-universities__body {
  &::-webkit-scrollbar {
    width: 0.1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange;
  }
}
#university_introduction {
  .information-details {
    .information {
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}
#study_programmes {
  .sections {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
#university_housing, #students_opinions {
  .university_content {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.tabContent {
  display: none;
}

.modal-content {
  border-radius: 40px !important;
  .modal-header {
    align-items: center !important;
    padding: 24px !important;
    border: 0 !important;
    button.btn-close {
      margin: 0;
      padding: 0;
      background: red;
      color: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      span { height: 100%; }
    }
  }
  .modal-body {
    padding: 24px 34px;
  }
}
.attchmentsArea {
  background-color: #FFF;
  border-radius: 40px;
  padding: 1em 2em;
  margin: 1em 0;
  box-shadow: 3px 3px 10px #d9d9d9, inset 1px 0px 0px #d9d9d9;
  .attachments {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    margin: 1em 0;
    background-color: #F4F8FB;
    border-radius: 24px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%23C5D1E2FF' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='57' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 24px;
    gap: 15px;
    .hints p {
      margin: 0;
      font-size: 16px;
      color: #636C80;
      margin-bottom: 10px;
      &:last-child {
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        &::before, &::after {
          content: '';
          height: 1px;
          width: 30px;
          background-color: #636C80;
          display: inline-block;
        }
      }
    }
    .upload label {
      background: $orange;
      color: #fff;
      padding: 10px 15px;
      border-radius: 12px;
      font-size: 14px;
      margin-bottom: 0;
      cursor: pointer;
    }
    img{
      width: 65px;
    }
  }
}
.card {
  border: none !important;
  background: transparent !important;
  width: 100% !important;
  .card-img {
    height: 250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    img { height: 100%; }
  }
}
.shape {
  background-image: url('/assets/images/shapes/universityShape.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  img {
    width: 120px;
    height: 100px !important;
    margin: 0 15px;
  }
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
