@import "../../abstracts/variables", "../../abstracts/mixins";

.welcoming {
  .tree {
    display: flex;
    img {
      width: 80%;
      margin: auto;
    }
  }
  .logo {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    border-radius: 27px;
    padding: 20px;
    width: 28%;
    margin: auto;
    height: 150px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  // img {
  //   width: 120%;
  // }
  .words {
    margin-top: 7em;
    h1 {
      margin-bottom: 1.5em;
      font-weight: 600;
      letter-spacing: 2px;
      word-spacing: 2px;
    }
  }
}
.filter_data {
  background: #fff;
  box-shadow: 0 3px 60px rgb(0 0 0 / 16%);
  padding: 20px;
  border-radius: 21px;
  position: relative;
  margin-top: -100px;
  label {
    font-weight: 600;
  }
  button.primary {
    display: block;
    margin: 0.5em auto;
  }
}
.features {
  display: flex;
  justify-content: space-between;
  margin: 4em 0;
  gap: 7em;
  .feature {
    background: #fff;
    padding: 25px 10px;
    border-radius: 25px;
    width: calc(100% / 3);
    text-align: center;
    & > img {
      width: 80px;
      height: 80px;
      display: block;
      margin: auto;
    }
    span {
      font-weight: 600;
      color: $orange;
      display: block;
      margin: 1em 0;
    }
    p {
      color: #6D6D6D;
      text-align: center;
      height: 120px;
    }
    a {
      color: $purple;
      img {
        width: 15px;
      }
    }
  }
}
.information {
  overflow: hidden;
  .info {
    margin: 6em 13em 0 0;
    h2 {
      font-weight: 600;
      letter-spacing: 2px;
      word-spacing: 2px;
    }
    p {
      margin: 2em 0;
    }
  }
  img {width: 100%;}
}
.statistics {
  background: #fff;
  box-shadow: 0 3px 60px rgb(0 0 0 / 16%);
  padding: 20px;
  border-radius: 21px;
  position: relative;
  width: 85%;
  margin: -220px auto 0;
  .stats {
    text-align: center;
    img {
      width: 75px;
      height: 75px;
    }
    h6 {
      margin: 1em 0;
      font-weight: 600;
    }
    span {
      font-size: 17px;
      display: block;
      color: $purple;
      font-weight: 600;
    }
  }
}
.study_fans {
  overflow: hidden;
  img.shape {width: 90%}
  .adventures {
    h3 {
      font-weight: 600;
      letter-spacing: 2px;
      word-spacing: 2px;
      span {color: $orange;}
    }
    ul {
      padding: 0;
      list-style-image: url('/assets/images/icons/checkmark.png');
      margin: 2em 0;
      li {
        margin-bottom: 1em;
        font-weight: 600;
      }
    }
    & > span {
      font-size: 22px;
      display: block;
      margin-bottom: 1em;
      font-weight: 600;
    }
  }
}
.important_specializations {
  background-image: url('/assets/images/shapes/two-shapes.png');
  background-size: 100% 100%;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    h2 {
      font-weight: bold;
    }
    a {
      color: #363636;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .specialization {
    background: #fff;
    box-shadow: 0 3px 25px rgb(0 0 0 / 16%);
    padding: 15px;
    margin-bottom: 2em;
    border-radius: 21px;
    display: flex;
    align-items: center;
    gap: 1em;
    transition: 0.5s;
    .specImg {
      background: #FEF2E7;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 70px;
      height: 70px;
      img {
        width: 75%;
      }
    }
    .specInfo {
      h5 {
        color: $purple;
        font-weight: 600;
      }
      span {
        color: #363636;
        font-weight: 600;
      }
    }
    &:hover {
      background: $orange;
      color: $white;
      .specImg {
        box-shadow: 40px 3px 25px rgb(0 0 0 / 16%);
      }
      .specInfo {
        h5 {
          color: $white;
        }
        span {
          color: $white;
        }
      }
    }
  }
  button.primary {
    display: block;
    margin: 2em auto;
  }
}
.best_universities {
  h2.title {
    text-align: center;
    font-weight: 600;
  }
  .filteration-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    gap: 10px;
    border-bottom: 1px solid #A7A7A7;
    width: 60%;
    button.filterBtn {
      background: transparent;
      border: none;
      padding: 12px;
      font-size: 20px;
      &.active {
        font-weight: 600;
        border-bottom: 2px solid;
      }
    }
  }
  .universities {
    margin: 0 2em;
    .card {
      margin-bottom: 2em;
      h3.university-name {
        font-weight: bold;
      }
      p.university-description {
        font-size: 18px;
        color: #353535;
      }
      .information {
        display: flex;
        justify-content: space-between;
        .price-info {
          .price {
            display: flex;
            align-items: baseline;
            gap: 10px;
            span:first-child {
              font-weight: bold;
              font-size: 20px;
            }
            span:last-child {
              font-size: 18px;
              text-decoration: line-through;
            }
          }
        }
        .global-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .global, .programs-count {
            img {
              width: 25px;
              height: 25px;
            }
            span {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
  .filterCard {
    display: none;
  }
  .show {
    display: flex;
  }
}
.latest_articles {
  .title {
    h2 {
      font-weight: 600;
      margin-bottom: 1em;
    }
  }
  .card {
    margin-bottom: 2em;
    .article_writer {
      display: flex;
      align-items: center;
      gap: 0.5em;
      span {
        color: $purple;
      }
    }
    .article_title {
      h4 {
        color: $orange;
        margin: 0.5em 0;
      }
    }
    p.card-text {
      color: #7B8591;
      line-height: 33px;
      font-size: 14px;
      a {
        color: #363636;
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  button.primary {
    display: block;
    margin: auto;
  }
  .another_articles {
    background: #fff;
    .title {
      background: $orange;
      text-align: center;
      padding: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 1em;
    }
    .article {
      display: flex;
      padding: 0 20px;
      gap: 1em;
      margin-bottom: 1em;
      .article_img {
        height: 150px;
        img {
          border-radius: 10px;
          height: 100%;
        }
      }
      .article_info {
        span {
          display: block;
          margin-top: 1em;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 3px;
          font-size: 13px;
          &.green {
            color: #40BE65;
          }
          &.blue {
            color: #0072CA;
          }
          &.yellow {
            color: #D9A34A;
          }
          &.red {
            color: #FF4967;
          }
        }
        p {
          max-height: 100px;
          overflow: hidden;
          color: #7B8591;
          margin: 1em 0;
        }
      }
    }
    .showmore {
      display: block;
      padding: 1em;
      text-align: center;
      border-top: 1px solid #EFF0F0;
      color: #7B8591;
    }
  }
}
