<div class="welcoming">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="words">
          <h1>الوكيل المعتمد  <br>
            لأكثر من 45 جامعة في تركيا</h1>
          <div class="actions">
            <button class="primary">عرض المزيد</button>
            <button class="primary-outline">احجز مقعدك الان</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/assets/images/shapes/penciles.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="filter_data">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="studyLevel">المرحلة الدراسية</label>
          <select class="form-control" id="studyLevel">
            <option>بكالوريوس</option>
            <option>test</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="specialization">التخصص</label>
          <select class="form-control" id="specialization">
            <option>طب الفم و الأسنان</option>
            <option>test</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="studyLanguage">اللغة الدراسية</label>
          <select class="form-control" id="studyLanguage">
            <option>English</option>
            <option>Arabic</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="expenses">المصروفات الدراسية</label>
          <select class="form-control" id="expenses">
            <option>6000 - 10000</option>
            <option>test</option>
          </select>
        </div>
      </div>
    </div>
    <button class="primary">
      <img src="assets/images/icons/flatSearchIcon.png" alt="search">
      بحث
    </button>
    <img class="loaf" src="assets/images/main_assets/loaf.png" alt="loaf">
  </div>
</div>
<div class="container">
  <div class="features">
    <div class="feature box-shadow">
      <img src="assets/images/icons/home.png" alt="home">
      <span>الاقامة في تركيا</span>
      <p>نكن معك خطوة بخطوة بداية من اختيار الجامعة واستقبالك من المطار وحتى اختيار السكن المناسب وإكمال أوراقك الرسمية</p>
      <a href="#">
        <img src="assets/images/icons/arrow.png" alt="arrow">
        عرض المزيد
      </a>
    </div>
    <div class="feature box-shadow">
      <img src="assets/images/icons/completed-task.png" alt="completed-task">
      <span>التقديم على الجامعات</span>
      <p>نتيح لك فرصة التسجيل في واحدة من أفضل الجامعات ونضمن قبولك الدراسي كوكيل معتمد في معظم الجامعات الخاصة التركية</p>
      <a href="#">
        <img src="assets/images/icons/arrow.png" alt="arrow">
        عرض المزيد
      </a>
    </div>
    <div class="feature box-shadow">
      <img src="assets/images/icons/conversation.png" alt="conversation">
      <span>استشارة مجانية</span>
      <p>نساعدك في تحديد تخصصك الدراسي واختيار الجامعة المناسبة مجانًا حيث يقوم أحد المستشارين التعليميين بالتواصل معك على الفور وفهم ما تريد ليجد لك أنسب فرصة  في أفضل جامعة</p>
      <a href="#">
        <img src="assets/images/icons/arrow.png" alt="arrow">
        عرض المزيد
      </a>
    </div>
  </div>
</div>
<div class="information">
  <div class="row">
    <div class="col-md-6">
      <div class="info">
        <h2>المنصة رقم 1 للدراسة في تركيا</h2>
        <p>بمرور الأعوام وزيادة الخبرة، أصبح فريقنا في أتم الاستعداد وعلى مدار الساعة لتوفير احتياجات طلابنا من كل أنحاء العالم للدراسة في تركيا</p>
        <button class="primary" (click)="register()">سجل الان</button>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/shapes/plane.png" alt="plane">
    </div>
  </div>
</div>
<div class="container">
  <div class="statistics">
    <div class="row">
      <div class="col-md-4">
        <div class="stats">
          <img src="assets/images/icons/menu-arrow-circle.png" alt="menu arrow">
          <h6>عدد الاستشارات الطبية</h6>
          <span>20,000+</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="stats">
          <img src="assets/images/icons/graduation.png" alt="graduation">
          <h6>عدد الطلاب الدوليين</h6>
          <span>10,000+</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="stats">
          <img src="assets/images/icons/college.png" alt="college">
          <h6>عدد الطلاب في تركيا</h6>
          <span>220,000+</span>
        </div>
      </div>
    </div>
    <img class="loaf" src="assets/images/main_assets/loaf.png" alt="loaf">
  </div>
</div>
<div class="inquiries">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="inqu">
          <h3>هل لديك الاستفسارات ؟</h3>
          <span>لدينا الاجابات</span>
          <ul class="list-unstyled">
            <li>كيف يمكنني بدء الدراسة في تركيا</li>
            <li>متطلبات الدراسة في تركيا</li>
            <li>متوسط تكاليف المعيشة في تركيا</li>
            <li>اختبار اليوس التركي</li>
            <li>معادلة الشهادة</li>
            <li>الجامعات المعتمدة</li>
          </ul>
          <button class="primary">مركز المعلومات</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="getInquiry">
          <h3>احصل على استشارة <span>مجانية %100</span></h3>
          <p>لدى فريقنا الخبرة للإجابة على كافة استفساراتكم حول الدراسة و الإقامة  في تركيا و توفير المعلومات حسب احتياجكم</p>
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">الاسم</label>
                  <input type="text" class="form-control" id="name" placeholder="اكتب اسمك هنا ...">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">رقم الهاتف</label>
                  <div class="phone">
                    <div class="form-group">
                      <select id="phoneCountry">
                        <option>1</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="text" id="name" placeholder="phone">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">البريد الالكترونى (Email)</label>
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="inquiry" for="inquiry">
                    <span>استفسارك</span>
                    <span class="hint">بحد ادنى 30 حرف</span>
                  </label>
                  <textarea class="form-control" id="inquiry" rows="4"></textarea>
                </div>
              </div>
              <button class="primary">أرسل طلبك</button>
            </div>
          </form>
          <img class="loaf topLoaf" src="assets/images/main_assets/loaf.png" alt="loaf">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="study_fans">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img class="shape" src="assets/images/shapes/books.png" alt="books">
    </div>
    <div class="col-md-6">
      <div class="adventures">
        <h3>مميزات التقديم من خلال <span>StudyFans</span></h3>
        <ul class="list-unstyled">
          <li>نقدم لك أفضل وأسرع خدمة من خلال مستشارينا التعليميين الخبراء</li>
          <li>نساعدك بشكل مجاني في إيجاد الجامعة الأنسب لك</li>
          <li>نضمن لك قبول في أفضل الجامعات التركية </li>
          <li>نلتزم بتقديم خدماتنا لك في أفضل صورة</li>
          <li>نرسم مستقبلك الأكاديمي وندعمك حتى الاستقرار</li>
        </ul>
        <span>تواصل معنا الآن واحصل على استشارتك المجانية</span>
        <button class="primary">تواصل معنا</button>
      </div>
    </div>
  </div>
</div>
<div class="important_specializations">
  <div class="container">
    <div class="title">
      <h2>اهم التخصصات</h2>
      <a href="">عرض الجميع</a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/doctor.png" alt="">
          </div>
          <div class="specInfo">
            <h5>تخصصات طبية</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/healthcare.png" alt="">
          </div>
          <div class="specInfo">
            <h5>صيدلة</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/teeth.png" alt="">
          </div>
          <div class="specInfo">
            <h5>اسنان</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/manager.png" alt="">
          </div>
          <div class="specInfo">
            <h5>علوم ادارية</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/coding.png" alt="">
          </div>
          <div class="specInfo">
            <h5>برمجة</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/monitor.png" alt="">
          </div>
          <div class="specInfo">
            <h5>كمبيوتر</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/architect.png" alt="">
          </div>
          <div class="specInfo">
            <h5>هندسة مدنية</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/mechanic.png" alt="">
          </div>
          <div class="specInfo">
            <h5>ميكانيكا</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/robotic-arm.png" alt="">
          </div>
          <div class="specInfo">
            <h5>ميكاترونيكس</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/engineer.png" alt="">
          </div>
          <div class="specInfo">
            <h5>هندسة معمارية</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/digital-marketing.png" alt="">
          </div>
          <div class="specInfo">
            <h5>تسويق</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="specialization">
          <div class="specImg">
            <img src="assets/images/icons/social-media.png" alt="">
          </div>
          <div class="specInfo">
            <h5>اعلام</h5>
            <span>الجامعات : 32</span>
          </div>
        </div>
      </div>
    </div>
    <button class="primary">
      عرض كل التخصصات
    </button>
  </div>
</div>
<div class="best_universities">
  <h2 class="title">افضل الجامعات التركية</h2>
  <div class="filteration-buttons">
    <button class="filterBtn active" (click)="filterUniversity('all', $event)">فلتر لنتائج الجامعات</button>
    <button class="filterBtn" (click)="filterUniversity('filter1', $event)">فلتر لنتائج الجامعات</button>
    <button class="filterBtn" (click)="filterUniversity('filter2', $event)">فلتر لنتائج الجامعات</button>
    <button class="filterBtn" (click)="filterUniversity('filter3', $event)">فلتر لنتائج الجامعات</button>
  </div>
  <div class="universities">
    <div class="row">
      <div class="col-md-4 filterCard filter1 show">
        <div class="card">
          <img src="assets/images/universities/Bora Bora.png" class="card-img-top" alt="article">
          <div class="card-body">
            <h3 class="university-name">جامعة اسطنبول</h3>
            <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
            <div class="information">
              <div class="price-info">
                <div class="price">
                  <span>4320$</span>
                  <span>6000$</span>
                </div>
                <div class="discount">
                  <span>خصم 25%</span>
                </div>
              </div>
              <div class="global-info">
                <div class="global">
                  <img src="assets/images/icons/global.png" alt="">
                  <span>التصنيف العالمي : 2225</span>
                </div>
                <div class="programs-count">
                  <img src="assets/images/icons/open-book.png" alt="">
                  <span>عدد البرامج الدراسية : 98</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 filterCard filter3 show">
        <div class="card">
          <img src="assets/images/universities/New Zealand.png" class="card-img-top" alt="article">
          <div class="card-body">
            <h3 class="university-name">جامعة استينيا</h3>
            <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
            <div class="information">
              <div class="price-info">
                <div class="price">
                  <span>4320$</span>
                  <span>6000$</span>
                </div>
                <div class="discount">
                  <span>خصم 25%</span>
                </div>
              </div>
              <div class="global-info">
                <div class="global">
                  <img src="assets/images/icons/global.png" alt="">
                  <span>التصنيف العالمي : 2225</span>
                </div>
                <div class="programs-count">
                  <img src="assets/images/icons/open-book.png" alt="">
                  <span>عدد البرامج الدراسية : 98</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 filterCard filter2 show">
        <div class="card">
          <img src="assets/images/universities/Paris.png" class="card-img-top" alt="article">
          <div class="card-body">
            <h3 class="university-name">جامعة اسطنبول ميديبول</h3>
            <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
            <div class="information">
              <div class="price-info">
                <div class="price">
                  <span>4320$</span>
                  <span>6000$</span>
                </div>
                <div class="discount">
                  <span>خصم 25%</span>
                </div>
              </div>
              <div class="global-info">
                <div class="global">
                  <img src="assets/images/icons/global.png" alt="">
                  <span>التصنيف العالمي : 2225</span>
                </div>
                <div class="programs-count">
                  <img src="assets/images/icons/open-book.png" alt="">
                  <span>عدد البرامج الدراسية : 98</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 filterCard filter1 show">
        <div class="card">
          <img src="assets/images/universities/Singapore.png" class="card-img-top" alt="article">
          <div class="card-body">
            <h3 class="university-name">جامعة ألتن باش</h3>
            <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
            <div class="information">
              <div class="price-info">
                <div class="price">
                  <span>4320$</span>
                  <span>6000$</span>
                </div>
                <div class="discount">
                  <span>خصم 25%</span>
                </div>
              </div>
              <div class="global-info">
                <div class="global">
                  <img src="assets/images/icons/global.png" alt="">
                  <span>التصنيف العالمي : 2225</span>
                </div>
                <div class="programs-count">
                  <img src="assets/images/icons/open-book.png" alt="">
                  <span>عدد البرامج الدراسية : 98</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 filterCard filter2 show">
        <div class="card">
          <img src="assets/images/universities/Thailand.png" class="card-img-top" alt="article">
          <div class="card-body">
            <h3 class="university-name">جامعة بهتشه شهير</h3>
            <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
            <div class="information">
              <div class="price-info">
                <div class="price">
                  <span>4320$</span>
                  <span>6000$</span>
                </div>
                <div class="discount">
                  <span>خصم 25%</span>
                </div>
              </div>
              <div class="global-info">
                <div class="global">
                  <img src="assets/images/icons/global.png" alt="">
                  <span>التصنيف العالمي : 2225</span>
                </div>
                <div class="programs-count">
                  <img src="assets/images/icons/open-book.png" alt="">
                  <span>عدد البرامج الدراسية : 98</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 filterCard filter3 show">
        <div class="card">
          <img src="assets/images/universities/Bora Bora.png" class="card-img-top" alt="article">
          <div class="card-body">
            <h3 class="university-name">جامعة أوكان</h3>
            <p class="university-description">نوع الجامعة : خاصة - المدينة : اسطنبول</p>
            <div class="information">
              <div class="price-info">
                <div class="price">
                  <span>4320$</span>
                  <span>6000$</span>
                </div>
                <div class="discount">
                  <span>خصم 25%</span>
                </div>
              </div>
              <div class="global-info">
                <div class="global">
                  <img src="assets/images/icons/global.png" alt="">
                  <span>التصنيف العالمي : 2225</span>
                </div>
                <div class="programs-count">
                  <img src="assets/images/icons/open-book.png" alt="">
                  <span>عدد البرامج الدراسية : 98</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="latest_articles">
  <div class="container">
    <div class="title">
      <h2>احدث المقالات</h2>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <img src="assets/images/articles/article.png" class="card-img-top" alt="article">
          <div class="card-body">
            <div class="article_writer">
              <img src="assets/images/Ellipse 546.png" alt="writer">
              <span>ريهام سمير</span>
            </div>
            <div class="article_title">
              <h4>الفرق بين العلوم الإدارية وإدارة الأعمال في تركيا</h4>
            </div>
            <p class="card-text">
              تعد تركيا خيارًا جذابًا لكل من يرغب في دراسة أحد العلوم الإدارية بكل تخصصاتها ومنها إدارة الأعمال، لكن الخلط بين المفهومين يسبب حيرة للطلاب، وبشكل مبسط تعد العلوم الإدارية التخصص الأوسع نطاقا وإدارة الأعمال جزء من تخصص العلوم الإدارية مع أقسام أخرى، وكل من العلوم الإدارية بما فيها إدارة الأعمال من أكثر الدراسات المرغوبة والمختارة من قبل الطلاب الوطنيين والدوليين في تركيا، ولتعرف أكثر عن الفرق بين العلوم الإدارية وإدارة الأعمال في تركيا <a href="#">تابع القراءة</a>.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/articles/article.png" class="card-img-top" alt="article">
          <div class="card-body">
            <div class="article_writer">
              <img src="assets/images/Ellipse 546.png" alt="writer">
              <span>ريهام سمير</span>
            </div>
            <div class="article_title">
              <h4>اعتماد EPDAD والجامعات التركية المعترف بها</h4>
            </div>
            <p class="card-text">
              تعد تركيا خيارًا جذابًا لكل من يرغب في دراسة أحد العلوم الإدارية بكل تخصصاتها ومنها إدارة الأعمال، لكن الخلط بين المفهومين يسبب حيرة للطلاب، وبشكل مبسط تعد العلوم الإدارية التخصص الأوسع نطاقا وإدارة الأعمال جزء من تخصص العلوم الإدارية مع أقسام أخرى، وكل من العلوم الإدارية بما فيها إدارة الأعمال من أكثر الدراسات المرغوبة والمختارة من قبل الطلاب الوطنيين والدوليين في تركيا، ولتعرف أكثر عن الفرق بين العلوم الإدارية وإدارة الأعمال في تركيا <a href="#">تابع القراءة</a>.
            </p>
          </div>
        </div>
        <button class="primary">عرض كل المقالات</button>
      </div>
      <div class="col-md-5">
        <div class="another_articles">
          <div class="title">مقالات اخري</div>
          <div class="article">
            <div class="article_img">
              <img src="assets/images/articles/trees.png" alt="">
            </div>
            <div class="article_info">
              <span class="green">Nature</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam diam sit amet elit hendrerit rutrum. Nam egestas laoreet ligula, ac elementum risus. Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. </p>
            </div>
          </div>
          <div class="article">
            <div class="article_img">
              <img src="assets/images/articles/lion.png" alt="">
            </div>
            <div class="article_info">
              <span class="blue">ANIMAL KINGDOM</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam diam sit amet elit hendrerit rutrum. Nam egestas laoreet ligula, ac elementum risus. Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. </p>
            </div>
          </div>
          <div class="article">
            <div class="article_img">
              <img src="assets/images/articles/medicine.png" alt="">
            </div>
            <div class="article_info">
              <span class="yellow">TECHNOLOGY</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam diam sit amet elit hendrerit rutrum. Nam egestas laoreet ligula, ac elementum risus. Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. </p>
            </div>
          </div>
          <div class="article">
            <div class="article_img">
              <img src="assets/images/articles/mountain.png" alt="">
            </div>
            <div class="article_info">
              <span class="red">EXPLORE</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam diam sit amet elit hendrerit rutrum. Nam egestas laoreet ligula, ac elementum risus. Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. </p>
            </div>
          </div>
          <div class="article">
            <div class="article_img">
              <img src="assets/images/articles/animal.png" alt="">
            </div>
            <div class="article_info">
              <span class="blue">AFRICA ZOO</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam diam sit amet elit hendrerit rutrum. Nam egestas laoreet ligula, ac elementum risus. Aliquam volutpat ex eget elit venenatis, vel luctus arcu pulvinar. </p>
            </div>
          </div>
          <a href="" class="showmore">عرض المزيد</a>
        </div>
      </div>
    </div>
  </div>
</div>
